<h1>Requested tweets</h1>
<p class="desc">here is the tweet list with <i>keyword</i> <b><%= @keyword %></b></p>
<ol style="list-style: none">
	<% @tweet.collect do |a| %>
		<li class="well text-info"><b><%= a.user.screen_name %></b> : <%= highlight(a.text,@keyword) %></li>
	<% end %>
	
</ol>
