<h1>Requested tweets</h1>
<p class="desc">here is the tweet list with <i>keyword</i> <b><%= @keyword %></b></p>
<ol>
	<% @tweet.collect do |a| %>
		<li><%= a.id %> : <%= a.user.screen_name %> : <%= highlight(a.text,@keyword) %></li>
	<% end %>
	
</ol>
